:root {
  --sidebar-flex: 1.5;
  --condiv-flex: 6;
  --fontsize-p: 1.2rem;
  --fontsize-nav: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.condiv {
  padding: 100px;
  background-color: #f4f5f9;
  flex: var(--condiv-flex);
}

/* Sign Page */

.sign {
  display: flex;
  flex-direction: column;
  background: #000;
  color: #fff;
  text-align: left;
}

.signpic {
  position: absolute;
  width: 55vw;
  height: 100vh;
  right: 0px;
  top: 0px;
}

.signtopic {
  position: absolute;
  left: 5vw;
  top: 20px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 78px;
  line-height: 162px;
  text-align: left;

  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.95;
}

.welcome {
  position: absolute;
  left: 17vw;
  top: 23vh;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 72.58px;
  text-align: center;

  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.81;
}

.comment1 {
  position: absolute;
  left: 15vw;
  top: 31vh;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36.29px;
  text-align: left;

  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.81;
}
.comment2 {
  position: absolute;
  left: 10vw;
  top: 35vh;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36.29px;
  text-align: left;

  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.81;
}

.user {
  position: absolute;
  left: 11vw;
  top: 42vh;

  font-family: "Prompt";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33px;
  text-align: left;

  color: #ffffff;
}

.boxuser {
  position: absolute;
  width: 340px;
  height: 45px;
  left: 11vw;
  top: 46vh;

  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.pass {
  position: absolute;
  left: 11vw;
  top: 59vh;

  font-family: "Prompt";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33px;
  text-align: left;

  color: #ffffff;
}

.boxpass {
  position: absolute;
  width: 340px;
  height: 45px;
  left: 11vw;
  top: 63vh;

  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.signin {
  position: absolute;
  left: 21.5vw;
  top: 76vh;

  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33.26px;
  text-align: left;

  color: #ffffff;
}

.boxsignin {
  position: absolute;
  width: 120px;
  height: 37px;
  left: 19vw;
  top: 75.5vh;

  background: #642cc7;
}

.signup {
  position: absolute;
  left: 21.25vw;
  top: 84vh;

  font-family: Prompt;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 33.26px;
  text-align: left;

  color: #ffffff;
}

/* Ticket Page */

.ticket {
  display: flex;
  flex-direction: column;

  background: radial-gradient(
    100% 100% at 48.75% 0%,
    #c370e8 0%,
    #642cc7 22.45%,
    #0e094f 68.75%,
    #111138 100%
  );
}

.tickettopic {
  position: absolute;
  left: 41vw;
  top: 3vh;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 109px;

  text-align: center;

  color: #ffffff;

  mix-blend-mode: normal;
  opacity: 0.95;
}

.hometopic {
  position: absolute;
  left: 36vw;
  top: 14vh;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;

  text-align: center;

  color: #ffffff;
}

.movietopic {
  position: absolute;
  left: 49vw;
  top: 14vh;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;

  text-align: center;

  color: #ffffff;
}

.historytopic {
  position: absolute;
  left: 62vw;
  top: 14vh;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 26px;

  text-align: center;

  color: #ffffff;
}

.ticketpic {
  position: absolute;
  width: 460px;
  height: 575px;
  left: 33.5vw;
  top: 22vh;
}

.bgticket {
  position: absolute;
  width: 460px;
  height: 825px;
  left: 33.5vw;
  top: 22vh;

  background: #ffffff;
  border-radius: 12px;
}

.moviename {
  position: absolute;
  left: 37vw;
  bottom: 31vh;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 33px;

  text-align: center;
  color: rgba(195, 112, 232, 1);
}

.seat {
  position: absolute;
  left: 34.75vw;
  bottom: 27vh;

  font-family: Rajdhani;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 26px;

  text-align: center;

  color: #000000;
}

.seatuser {
  position: absolute;
  left: 37.75vw;
  bottom: 27vh;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 33px;

  text-align: center;
  color: rgba(75, 19, 174, 1);
}

.seat {
  position: absolute;
  left: 34.75vw;
  bottom: 27vh;

  font-family: Rajdhani;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 26px;

  text-align: center;

  color: #000000;
}

.seatuser {
  position: absolute;
  left: 37.75vw;
  bottom: 27vh;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 33px;

  text-align: center;
  color: rgba(75, 19, 174, 1);
}

.date {
  position: absolute;
  left: 34.5vw;
  bottom: 22vh;

  font-family: Rajdhani;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 26px;

  text-align: center;

  color: #000000;
}

.dateuser {
  position: absolute;
  left: 37.25vw;
  bottom: 22vh;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 33px;

  text-align: center;
  color: rgba(75, 19, 174, 1);
}

.barcodepic {
  position: absolute;
  width: 270px;
  height: 50px;
  left: 37vw;
  bottom: 17vh;
}
